$var title: About
<section>
    <h3>About This Site</h3>
    <p>Welcome to johncameronthomas.com! On this blog, I'll mainly be discussing topics related to software development, engineering, and mathematics. I'll also include my opinions, personal experiences, and an occasional random subject. This blog is for all those interested in learning about computers and computer programming.</p>
</section>
<section>
    <h3>About Me</h3>
    <p>Hello! My name is John Cameron Thomas. I was born and raised in the USA. I'm a self-taught software developer and engineer. I've always been fond of mathematics even from a young age. Math just clicks with me; That's the best way I can explain it. My love of math developed into an understanding of problem solving and engineering that helps define who I am today. For me, programming is just a natural extension of these subjects. I love software development. tldr: I'm a nerd.</p>
</section>
<section>
    <h3>Notable Quotes</h3>
    <blockquote>
        <p>Innovation distinguishes between a leader and a follower.</p>
        <p><cite>-Steve Jobs</cite></p>
    </blockquote>
    <blockquote>
        <p>The only phrase I’ve ever disliked is, ‘Why, we’ve always done it that way.’ I always tell young people, ‘Go ahead and do it. You can always apologize later.'</p>
        <p><cite>-Dr. Grace Hopper</cite></p>
    </blockquote>
    <blockquote>
        <p>Be a yardstick of quality. Some people aren’t used to an environment where excellence is expected.</p>
        <p><cite>-Steve Jobs</cite></p>
    </blockquote>
    <blockquote>
        <p>We lived on farms, then we lived in cities, and now we're going to live on the internet.</p>
        <p><cite>-The Social Network</cite></p>
    </blockquote>
</section>